* {
	border-radius: 0px;
	border: none;
}

window {
	font-size: 18px;
	font-family: "RobotoMono Nerd Font";
	background-color: rgba(25,23,36,0.9); /* background-color: #191724; */
	color: #E0DEF4;
	border: 0px solid black;
}

#entry {
	padding: 0.25em;
}

#entry:selected {
	/* background-color: #31748F; */
	background-color: #9CCFD8;
	color: #6E6A86;
}

#text:selected {
	color: #6E6A86;
}

#input {
	background-color: rgba(25,23,36,0.5);
	color: #E0DEF4;
	padding: 0.25rem;
}

image {
	margin-left: .5em;
	margin-right: .5em;
}
